<h1>Add a vehicle</h1>

<form action="/lemons" method="post">
  <label for="make">Lemon's make:</label>
  <input id="make" name="make" type="text">

  <label for="model">Lemon's model:</label>
  <input id="model" name="model" type="text">

  <label for="year">Vehicle's year:</label>
  <input id="year" name="year" type="text">

  <button type="submit">Add Vehicle</button>
</form>
